{% extends 'base.html.twig' %}

{% block body %}
<div class="img_home">
  <div class="row d-flex justify-content-center align-content-center" style="margin-top: 250px;"></div>
    <h2 class="p-3 title rounded ">Bienvenue sur Resell Vinyl, le site de vente entre passionnés de Vinyles</h2>
    <div class="button d-flex justify-content-center m-5">
      <a class="btn btn-dark" href="{{ path('app_register') }}" role="button">Inscription</a>
      <a class="btn btn-dark" style="margin-left: 5px;" href="{{ path('app_login') }}" role="button">Connexion</a>
    </div>
  </div>
</div>

{% endblock %}
