{% extends 'base.html.twig' %}

{% block title %}Liste des vinyles{% endblock %}

{% block body %}

  <h1 class="text-center mt-4 mb-4"><i>Liste des vinyles</i></h1>

{% for vinyl in vinyls %}

<div class="card mb-3" style="max-width: 1000px; margin: 0 auto; float: none; margin-bottom: 10px; border: solid black 2px; margin-top: 10px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{asset('images/'~ vinyl.artist ~'.jpg')}}" alt="" style="width: 250px;">
    </div>
    <div class="col-md-4">
    <div class="card-body">
        <h5 class="card-title" style="font-size: 30px"><i>{{ vinyl.artist }}</i></h5>
          <p class="card-text" style="font-size: 20px"><strong>Album : </strong>{{vinyl.album }}</p>
          <p class="card-text" style="font-size: 20px"><strong>Année : </strong>{{vinyl.year }}</p>
          <p class="card-text" style="font-size: 20px"><strong>Genre : </strong>{{vinyl.genre }}</p>
          <p class="card-text" style="font-size: 20px"><strong>Prix : </strong>{{vinyl.price }} €</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-body" style="margin-top: 45px;">
        <p class="card-text" style="font-size: 20px"><strong>Condition : </strong>{{vinyl.vinylcondition }}</p>
        {% if vinyl.vinylUser is not null %}
          <p class="card-text" style="font-size: 20px"><strong>Vendu par :</strong><a href="/user/{{vinyl.vinylUser.id}}" role="button" class="btn btn-success text-decoration-none" style="margin-left: 20px;"> {{vinyl.vinylUser.pseudo}}</p></a>
        {% else %}
          <p class="card-text" style="font-size: 20px"><strong>Vendu par :</strong> Admin </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}
