{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container bg-dark rounded pt-5 pb-5 mt-4 text-white">
      <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title">
              <i>Inscrivez vous ici gratuitement</i>
            </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="myform form ">
              <form action="" method="post" name="login">

                  <div class="form-group">
                    <label for="firstname" class="form-group">Pseudo :</label>
                    {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="form-group">
                    <label for="firstname" class="form-group">Prénom :</label>
                    {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="form-group mt-2">
                    <label for="name" class="form-group">Nom :</label>
                    {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="form-group mt-2">
                    <label for="phone" class="form-group">Téléphone :</label>
                    {{ form_widget(registrationForm.phone, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="form-group mt-2">
                    <label for="email" class="form-group">Email :</label>
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="form-group mt-2">
                    <label for="password" class="form-group">Mot de passe :</label>
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="form-group mt-2">
                    <label for="genre" class="form-group">Vous êtes :</label>
                    {{ form_widget(registrationForm.roles, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="text-center mt-2">
                    <button type="submit" class="bg-danger text-white btn btn-block send-button tx-tfm mt-3">Crée votre compte</button>
                  </div>
                  <p>Déjà inscrit ? <a href="{{ path('app_login') }}">Cliquez ici</a></p>
                  {{ form_end(registrationForm) }}
              </form>
            </div>
        </div>
      </div>
  </div>

{% endblock %}
