{% extends 'base.html.twig' %}

{% block title %}Ajouter une offre{% endblock %}

{% block body %}
{# 
<h2>
    Ajouter un article
</h2>

{{form_start(form)}}

    <div class="row">
    <div class="col-6">
        <div>{{form_row(form.description, {'attr': {'class': ''}, } ) }}</div>
    </div>
    <div class="col-6">{{form_widget(form)}}</div>
    </div>
    <input type="submit" class="btn btn-primary" value="Poster">

{{form_end(form)}} #}

<div class="container bg-dark rounded pt-5 pb-5 mt-5 text-white">
    <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title">
                <i>Ajoutez une promotion</i>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto mt-4">
            <div class="myform form ">
                <form action="" method="post" name="login">

                <div class="form-group">
                    <label for="description">Description :</label>
                    <div>{{form_widget(form.description, {'attr': {'class': 'form-control'}, } ) }}</div>
                </div>

                <div class="form-group">
                    <label for="link">Lien :</label>
                    <div>{{form_widget(form.link, {'attr': {'class': 'form-control'}, } ) }}</div>
                </div>

                
                <div class="form-group">
                    <label for="postby" class="form-group">Posté par :</label>
                    <input class="form-control" value="{{ username }}" disabled />
                </div>

                <div class="mt-4 text-center">
                    <button class="bg-danger text-white btn btn-block send-button tx-tfm" type="submit">Ajouter</button>
                </div>
                {{form_end(form)}}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}