{% extends 'base.html.twig' %}

{% block title %}Hello OfferController!{% endblock %}

{% block body %}

<div class="col-12 text-center mt-5">
  <a href="{{ path("add_offer") }}"><input type="submit" class="btn btn-dark" value="Ajouter une offre"></a>
</div>

<h1 class="text-center mt-4 mb-4"><i>Liste des offres</i></h1>

{% for offer in offers %}

  <div class="card mb-3 mt-5" style="max-width: 1000px; margin: 0 auto; float: none; margin-bottom: 10px; border: solid black 2px; margin-top: 10px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="images/promotion.png" alt="" style="width: 200px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 25px"><i>{{ offer.description }}</i></h5>
            <p class="card-text" style="font-size: 20px"><a href="">{{offer.link}}</a></p>
            <p class="card-text">Posté par : <small class="text-muted"><a href="">{{offer.postby}}</a></small></p>
        </div>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock %}
