/* NAVBAR */

.navbarSettings {
  background-color: black;
}

/* BODY */

body {
  background-color: grey;
}

/* HOME PAGE */

.img_home {
  background-color:white;
  background: url(../images/vinyl-wallpaper.jpg) no-repeat 30%;
  background-size: auto;
  padding: 6vh 6vw;
  max-width: 100%;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.title {
  background-color: transparent;
  color: white;
  width: 1050px;
  margin: auto;
  border: 3px solid black;
}

/* VINYL PAGE */

.text-card {
  font-size: 7px;
}

.artist_title {
  font-size: 50px;
}

.myimg {
  width: 180px;
  height: 180px;
}

/* REGISTER FORM */