{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

    <h1 class="text-center mt-3"><i>Page d'administration de tout les utilisateurs</i></h1>
    <a href="{{path('admin_vinyls')}}" class="btn btn-primary mt-3 mb-3 d-flex justify-content-center">Page d'administration des vinyles</a>
    <table class="table">
        <tr class="table-dark text-white">
            <td>Numéro</td>
            <td>Pseudo</td>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Téléphone</td>
            <td>Email</td>
            <td>Actions</td>
        </tr>

        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><strong>{{ user.pseudo }}</strong></td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form action="{{ path('admin_users_suppression', {'id': user.id })}}" method="POST" class="mt-2">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP'~ user.id)}}">
                        <input type="submit" class="btn btn-danger" value="Bannir" onsubmit="return confirm(confirmez la suppression ?)">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
