{% extends 'base.html.twig' %}

{% block title %}Vinyls{% endblock %}

{% block body %}

    <h1 class="text-center mt-3"><i>Page d'administration de tout les vinyles</i></h1>
    <a href="{{path('admin_users')}}" class="btn btn-primary mt-3 mb-3 d-flex justify-content-center">Page d'administration des utilisateurs</a>
    <a href="{{path('admin_vinyls_creation')}}" class="btn btn-success mt-3 mb-3 d-flex justify-content-center">Ajouter</a>
    <table class="table">
        <tr class="table-dark text-white">
            <td>Cover</td>
            <td>Artiste</td>
            <td>Album</td>
            <td>Année</td>
            <td>Genre</td>
            <td>Prix</td>
            <td>Condition</td>
            <td>Actions</td>
        </tr>

        {% for vinyl in vinyls %}
            <tr>
                <td style="width:10%"><img class="myimg" src="{{asset('images/'~ vinyl.artist ~'.jpg')}}" alt="" style="width: 200px;"></td>
                <td><strong>{{ vinyl.artist }}</strong></td>
                <td>{{ vinyl.album }}</td>
                <td>{{ vinyl.year }}</td>
                <td>{{ vinyl.genre }}</td>
                <td>{{ vinyl.price }}</td>
                <td>{{ vinyl.vinylcondition }}</td>
                <td>
                    <a href="{{ path('admin_vinyls_edition', {'id': vinyl.id })}}" class="btn btn-secondary mt-5">Edition</a>
                    <form action="{{ path('admin_vinyls_suppression', {'id': vinyl.id })}}" method="POST" class="mt-2">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP'~ vinyl.id)}}">
                        <input type="submit" class="btn btn-danger" value="Supprimer" onsubmit="return confirm(confirmez la suppression ?)">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
