{% extends 'base.html.twig' %}

{% block title %}Artistes{% endblock %}

{% block body %}

<h2 class="text-center mt-3">
  <i>Modification de : {{ vinyl.artist }}</i>
</h2>

      <div class="container bg-dark rounded pt-5 pb-5 mt-5 text-white">
      <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title">
              <i>Vendre un vinyle</i>
            </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="myform form ">
              <form action="" method="post" name="login">

                  <div class="form-group">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    {{ form_widget(form.image, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="form-group">
                    <label for="artist" class="form-group">Artiste :</label>
                    {{ form_widget(form.artist, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="form-group mt-2">
                    <label for="album" class="form-group">Album :</label>
                    {{ form_widget(form.album, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="form-group mt-2">
                    <label for="genre" class="form-group">Genre :</label>
                    {{ form_widget(form.genre, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="form-group mt-2">
                    <label for="year" class="form-group">Année :</label>
                    {{ form_widget(form.year, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="form-group mt-2">
                    <label for="condition" class="form-group">Condition :</label>
                    {{ form_widget(form.vinyl_condition, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  <div class="form-group mt-2">
                    <label for="price" class="form-group">Prix :</label>
                      {{ form_widget(form.price, {'attr': {'class': 'form-control'} } ) }}
                  </div>

                  {{ form_widget(form.postby) }}

                  <div class="text-center mt-3">
                    <button type="submit" class="bg-danger text-white btn btn-block send-button tx-tfm">Vendre</button>
                  </div>

                  {{ form_end(form) }}
              </form>
            </div>
        </div>
      </div>
  </div>


{% endblock %}