{% extends 'base.html.twig' %}

{% block title %}Hello AdminVinylController!{% endblock %}

{% block body %}
    <h1 class="text-center" style="margin-top: 320px;"><i>Administration</i></h1>
    <a href="{{path('admin_users')}}" class="btn btn-primary mt-3 mb-3 d-flex justify-content-center">Page d'administration des utilisateurs</a>
    <a href="{{path('admin_vinyls')}}" class="btn btn-success mt-3 mb-3 d-flex justify-content-center">Page d'administration des vinyles</a>
{% endblock %}
