<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
        and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
<body style="background-color: #C8C5C5;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: black">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path("home") }}"><img src="images/RVLogo.PNG" alt="" height="40px"></a>
            <button class="navbar-toggler" style="color: white;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: white;"></span>
            </button>
            <div class="collapse navbar-collapse" style="font-size: 20px; margin-left: 40px;" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="dropdown-item text-white" href="{{ path("vinyls") }}">Vinyles</a></li>
                </ul>

                {% if is_granted('ROLE_SELLER') %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="dropdown-item text-white" href="{{ path("sell") }}">Vendre</a></li>
                </ul>
                {% endif %}

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="dropdown-item text-white" href="{{ path("offers") }}">Offres</a></li>
                </ul>

                {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="dropdown-item text-white" href="{{ path("app_login") }}">Se connecter</a></li>
                </ul>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="dropdown-item text-white" href="{{ path("app_register") }}">Inscription</a></li>
                </ul>
                {% endif %}



                {% if is_granted('ROLE_ADMIN') %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li><a class="dropdown-item text-white" href="{{ path("admin") }}">Admin</a></li>
                    </ul>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li><a class="dropdown-item text-white" href="{{path('user', {id: app.user.id})}}">{{app.user.pseudo}}</a></li>
                    </ul>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="dropdown-item text-white" href="{{ path("app_logout") }}">Déconnection</a></li>
                </ul>
                {% endif %}

            </div>
        </div>
    </nav>

    {% block body %}


    {% endblock %}


</body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</html>
