{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

  <div class="container" style="margin-top: 200px;">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{app.user.pseudo}}</h4>
                      <button class="btn btn-outline-primary mt-3">Message</button>
                      {# <a class="btn btn-dark" href="{{ path('user_modification') }}" role="button">Modifier le profil</a> #}
                    </div>
                    <button class="btn btn-outline-primary mt-3">Commentaires</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3 bg-dark text-white">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Pseudo</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.pseudo}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Prénom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.firstname}} {{user.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Téléphone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.phone}}
                    </div>
                  </div>
                  <hr>
                    <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Rôle</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.roles[0]}}
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            {% if is_granted('ROLE_SELLER') %}
              <h2>Vinyles de : {{user.pseudo}}</h2>
            {% endif %}
          </div>
        </div>
    </div>

{% endblock %}
