{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<h2>
  Modification de : {{ app.user.name }}
</h2>

  {{form_start(form)}}
    <div class="row">
      <div class="col-6">
        <div>{{form_row(registrationForm.name)}}</div>
        <div>{{form_row(registrationForm.firstname)}}</div>
        <div>{{form_row(registrationForm.phone)}}</div>
      </div>
      <div class="col-6">{{form_widget(form)}}</div>
    </div>
    <input type="submit" class="btn btn-primary" value="Envoyer">
  {{form_end(form)}}


{% endblock %}